### pandas

In [2]:

import numpy as np
import pandas as pd

In [16]:
a=pd.Series([1,2,3,45,65,78,43,79])

In [17]:
a

0     1
1     2
2     3
3    45
4    65
5    78
6    43
7    79
dtype: int64

In [18]:
a[4]

65

In [19]:
a[0:5]

0     1
1     2
2     3
3    45
4    65
dtype: int64

In [22]:
a[[2,3,1]]

2     3
3    45
1     2
dtype: int64

In [24]:
a[2]=26

In [25]:
a

0     1
1     2
2    26
3    45
4    65
5    78
6    43
7    79
dtype: int64

In [26]:
a[[3,4,1]]=[12,13,14]

In [27]:
a

0     1
1    14
2    26
3    12
4    13
5    78
6    43
7    79
dtype: int64

In [34]:
b=np.array([1,4,7,8])
c=pd.Series(b,index=['a','b','c','h'])

In [35]:
c

a    1
b    4
c    7
h    8
dtype: int32

In [36]:
c[0:4]

a    1
b    4
c    7
h    8
dtype: int32

In [43]:
###empty data frame
d= pd.DataFrame()

In [44]:
d

Empty DataFrame
Columns: []
Index: []

In [45]:
print(d)

Empty DataFrame
Columns: []
Index: []

In [8]:
num1=[[1,2,3,4],[5,6,7,8,9],[9,10,11,12,13],[14,15,16,17,18]]

In [50]:
num1##if row has less element compare to other rows it will show nan

[[1, 2, 3, 4], [5, 6, 7, 8, 9], [9, 10, 11, 12, 13], [14, 15, 16, 17, 18]]

In [10]:
num2=pd.DataFrame(num1)

In [11]:
num2

    0   1   2   3     4
0   1   2   3   4   NaN
1   5   6   7   8   9.0
2   9  10  11  12  13.0
3  14  15  16  17  18.0

In [12]:
dataType_s=num2.dtypes
print(dataType_s)

0      int64
1      int64
2      int64
3      int64
4    float64
dtype: object

In [13]:
group=[['pen',1],['pencil',2],['eraser',3]]

In [14]:
group

[['pen', 1], ['pencil', 2], ['eraser', 3]]

In [15]:
g1=pd.DataFrame(group)

In [16]:
g1

        0  1
0     pen  1
1  pencil  2
2  eraser  3

In [17]:
g1.dtypes

0    object
1     int64
dtype: object

In [24]:
g2=pd.DataFrame(g1,columns=['A','B'])

In [25]:
g2

    A   B
0 NaN NaN
1 NaN NaN
2 NaN NaN

In [39]:
g2=pd.DataFrame(group,index=['a','b','c'], columns=['name','place'])

In [36]:
g2

     0   1
a  NaN NaN
b  NaN NaN
c  NaN NaN
d  NaN NaN

In [40]:
g2

     name  place
a     pen      1
b  pencil      2
c  eraser      3

In [46]:
g2.rename({'name':'word','place':'city'},axis=1)

     word  city
a     pen     1
b  pencil     2
c  eraser     3

In [49]:
g2.rename({'name':'word','place':'city'},axis=1,inplace=True)##if u change  orginal data we have to give inplace=true

In [50]:
g2

     word  city
a     pen     1
b  pencil     2
c  eraser     3

In [51]:
g2

     word  city
a     pen     1
b  pencil     2
c  eraser     3

In [63]:
g2.rename({1:'r' ,2:'e'}, axis = 0)###check

     word  city
a     pen     1
b  pencil     2
c  eraser     3

In [77]:
g3=[['eye',1,'pye'],['sye',34,'mye'],['gye',98,'tye'],['eye',34,'edc']]
g3

[['eye', 1, 'pye'], ['sye', 34, 'mye'], ['gye', 98, 'tye'], ['eye', 34, 'edc']]

In [78]:
g3

[['eye', 1, 'pye'], ['sye', 34, 'mye'], ['gye', 98, 'tye'], ['eye', 34, 'edc']]

In [88]:
g3=pd.DataFrame(g3,columns=['title','topic','sgt',])

In [89]:
g3

  title  topic  sgt
0   eye      1  pye
1   sye     34  mye
2   gye     98  tye
3   eye     34  edc

In [90]:
g3[['title','topic']]

  title  topic
0   eye      1
1   sye     34
2   gye     98
3   eye     34

### loc and iloc

In [91]:
g3.iloc[:,[0,1]]

  title  topic
0   eye      1
1   sye     34
2   gye     98
3   eye     34

In [93]:
g3.loc[1:2,['title','topic']]

  title  topic
1   sye     34
2   gye     98

In [99]:
g3.iloc[0,1]

1

In [104]:
g3

  title  topic  sgt
0   eye      1  pye
1   sye     34  mye
2   gye     98  tye
3   eye     34  edc

In [111]:
g3.loc[[2],[3]]

KeyError: "None of [Int64Index([3], dtype='int64')] are in the [columns]"

In [112]:
g3

  title  topic  sgt
0   eye      1  pye
1   sye     34  mye
2   gye     98  tye
3   eye     34  edc

In [113]:
g3.iloc[2]

title    gye
topic     98
sgt      tye
Name: 2, dtype: object

In [114]:
g3.loc[2]

title    gye
topic     98
sgt      tye
Name: 2, dtype: object

In [116]:
g3.loc[0,'sgt']

'pye'

In [118]:
g3.iloc[1,:1]

title    sye
Name: 1, dtype: object

In [122]:
g3.loc[2,'sgt']

'tye'